workflow_RAG Qdrant.json
[{"createdAt":"2025-06-14T01:33:00.995Z","updatedAt":"2025-06-14T16:20:23.000Z","id":"DYJR65DU5bWOVNQe","name":"RAG Qdrant","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1AWUVqS3jZIDI8VZN1AL7kS_8GYmgLqhm","mode":"list","cachedResultName":"Automation","cachedResultUrl":"https://drive.google.com/drive/folders/1AWUVqS3jZIDI8VZN1AL7kS_8GYmgLqhm"},"event":"fileUpdated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-320,20],"id":"8ba7fdf3-2b61-4718-b8d4-846430e17487","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"ufBur5SgIwX8zFjn","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[160,40],"id":"992fcb43-625c-432b-8a80-ffbd2dc32dd4","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"ufBur5SgIwX8zFjn","name":"Google Drive account"}}},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"=piza","mode":"id"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.2,"position":[1100,0],"id":"e0da3dd2-18be-4b24-8518-fdd66d33b604","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"udHovmF5xzRr9uKE","name":"QdrantApi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1080,240],"id":"a1cca313-4d9a-4af8-95ad-5a9eae3dbb88","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"otgszdApZbHkcHr9","name":"OpenAi account"}}},{"parameters":{"dataType":"binary","options":{"metadata":{"metadataValues":[{"name":"date","value":"={{ $now }}"},{"name":"name","value":"={{ $('Google Drive').item.json.name }}"},{"name":"doc_id","value":"={{ $('Google Drive').item.json.id }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1340,200],"id":"6a8631b0-52be-48be-9b1b-52f7100d934c","name":"Default Data Loader"},{"parameters":{"chunkSize":500,"chunkOverlap":20,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1400,400],"id":"f09c25dc-370e-4e43-acaf-54af32000ce3","name":"Recursive Character Text Splitter"},{"parameters":{"method":"POST","url":"http://qdrant:6333/collections/piza/points/delete","sendQuery":true,"queryParameters":{"parameters":[{"name":"wait","value":"true"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 1234567890"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"filter\":{\n     \"must\": [\n          {\"key\": \"metadata.doc_id\"  , \"match\":{ \"value\": \"{{ $json.id }}\" } }\n     ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,-140],"id":"120a61b6-d814-454b-91b0-f9fe1570471d","name":"HTTP Request","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"de45bacc-6f09-4dc7-9ee8-cb63366b8aab","leftValue":"={{ $json.fileExtension }}","rightValue":"doc","operator":{"type":"string","operation":"contains"}},{"id":"09f6d2e2-4432-4228-99f2-6c6261599ce4","leftValue":"={{ $json.fileExtension }}","rightValue":"txt","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[440,60],"id":"e0ea74d8-0f4a-4ccc-a6f9-ad56f67c66cd","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[660,240],"id":"1cdedcd5-6ff3-4f46-bfbf-09396795234f","name":"No Operation, do nothing"}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Google Drive","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"If","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"HTTP Request":{"main":[[]]},"If":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2025-06-14T16:20:23Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3c64322a-d4f9-499b-ab16-c301d645ecc4","triggerCount":1,"tags":[]}]