workflow_workflow_download.json
[{"createdAt":"2025-06-14T16:35:57.062Z","updatedAt":"2025-06-16T23:44:37.000Z","id":"biLghwZfvSZAc41J","name":"workflow_download","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-380,-220],"id":"dddc70cb-84d9-4a9d-b764-6abdaed114c7","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"https://n8n-production-a4bdev.up.railway.app/api/v1/workflows?limit=250","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1MWQ1ODNlOC1hNTY2LTRiZDktODYzNy04ZDgzMDU1YzkzM2IiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzUwMDk0MTMzLCJleHAiOjE3NTI2Mzg0MDB9.lWlp7mSPWj1sosbUW4X7ive0SolGWYmZrsiQgO_YiDc"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-120,-220],"id":"da5364ea-aac2-4d43-89f2-d8689df0b55c","name":"HTTP Request"},{"parameters":{"batchSize":"=1","options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[380,-220],"id":"291bbf1b-5cb1-4203-9155-17d61e66bba6","name":"Loop Over Items"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"\n\nreturn $input.item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[680,-200],"id":"c2ce6600-b597-4419-b32e-2830afcbeb6c","name":"Code"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nreturn $input.first().json.data;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,-220],"id":"d4b493af-954b-4176-8460-89a089bb3b11","name":"Code1"},{"parameters":{"operation":"toJson","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[900,-200],"id":"d8e8222b-b0ac-493b-b2a9-73fe3a42a30a","name":"Convert to File"},{"parameters":{"operation":"write","fileName":"=workflow_{{ $('Code1').item.json.name }}.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1180,-200],"id":"2c6d8660-8021-4e84-b96c-61ebc8fc6e76","name":"Read/Write Files from Disk"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"0408c0f0-0afd-4f9a-80f6-e4a12a6d7de3","triggerCount":0,"tags":[]}]