workflow_RAG Agentic4Biz.json
[{"createdAt":"2025-06-16T13:33:59.888Z","updatedAt":"2025-06-16T13:38:28.000Z","id":"SQREtcaIMEZkxY89","name":"RAG Agentic4Biz","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1ROSAWieYRGwOgTw8QviBaegEwE_XhsFx","mode":"list","cachedResultName":"Agentic4Biz","cachedResultUrl":"https://drive.google.com/drive/folders/1ROSAWieYRGwOgTw8QviBaegEwE_XhsFx"},"event":"fileUpdated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-320,20],"id":"7b63402d-eaab-4207-bc19-48b30b207a1d","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"ufBur5SgIwX8zFjn","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[160,40],"id":"89000a55-1a06-48dc-ad06-d4f88d859693","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"ufBur5SgIwX8zFjn","name":"Google Drive account"}}},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"=agentic4biz_faq","mode":"id"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.2,"position":[1100,0],"id":"ee3b346a-63f9-46e1-b8fa-619fbfec1123","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"udHovmF5xzRr9uKE","name":"QdrantApi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1080,240],"id":"e9e134e1-303a-47d1-9ab4-304a76e8c049","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"otgszdApZbHkcHr9","name":"OpenAi account"}}},{"parameters":{"dataType":"binary","options":{"metadata":{"metadataValues":[{"name":"date","value":"={{ $now }}"},{"name":"name","value":"={{ $('Google Drive').item.json.name }}"},{"name":"doc_id","value":"={{ $('Google Drive').item.json.id }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1340,200],"id":"cd34e61c-db26-407a-80b1-e38933827534","name":"Default Data Loader"},{"parameters":{"chunkSize":500,"chunkOverlap":20,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1400,400],"id":"6b5c3dc6-43b5-4499-96f2-31b1b12f2079","name":"Recursive Character Text Splitter"},{"parameters":{"method":"POST","url":"http://qdrant:6333/collections/piza/points/delete","sendQuery":true,"queryParameters":{"parameters":[{"name":"wait","value":"true"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 1234567890"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"filter\":{\n     \"must\": [\n          {\"key\": \"metadata.doc_id\"  , \"match\":{ \"value\": \"{{ $json.id }}\" } }\n     ]\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,-140],"id":"14e8e95c-cb55-40b6-a372-c1ef333a8798","name":"HTTP Request","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"de45bacc-6f09-4dc7-9ee8-cb63366b8aab","leftValue":"={{ $json.fileExtension }}","rightValue":"doc","operator":{"type":"string","operation":"contains"}},{"id":"09f6d2e2-4432-4228-99f2-6c6261599ce4","leftValue":"={{ $json.fileExtension }}","rightValue":"txt","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[440,60],"id":"da831b36-3a3e-4bc4-ac24-6755e5309877","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[660,240],"id":"cd807a12-dea4-47f1-a3d0-fd18e1067a99","name":"No Operation, do nothing"}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Google Drive","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"If","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"HTTP Request":{"main":[[]]},"If":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2025-06-16T13:38:28Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"594e63b0-0520-423d-8971-84d7bfb70d1b","triggerCount":1,"tags":[]}]